* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: rgb(25, 25, 25);
  font-family: monospace;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: rgb(211, 211, 211);
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* --------------------------------------- */
[class$=__container] {
  max-width: 1630px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex--row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.just--between {
  justify-content: space-between;
}

.margin--section {
  margin-bottom: 100px;
}

.button--link {
  padding: 10px 40px;
  border: 1px solid white;
  font-size: 18px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}
.button--link:hover {
  transform: scale(1.1);
  background-color: aquamarine;
  color: rgb(25, 25, 25);
}
.button--link:active {
  transform: scale(1);
  background-color: rgb(101, 204, 170);
}

.text--title {
  font-size: 40px;
  font-weight: 600;
}

.text--subtitle {
  font-size: 35px;
  font-weight: 600;
}

.text--text {
  font-size: 16px;
  font-weight: normal;
  line-height: 120%;
}

.text--link {
  font-size: 15px;
  position: relative;
}
.text--link::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: white;
  top: 0;
  right: -4px;
  opacity: 0;
}
.text--link:hover::after {
  animation: slash 0.5s steps(1) infinite;
}
@keyframes slash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* --------------------------------------- */
.wrapper {
  color: white;
}

.header {
  padding: 50px 0px;
}
.header .header__container .header__logo a img {
  max-width: 70px;
  border-radius: 10px;
}
.header .header__container .header__burger {
  display: none;
}
.header .header__container .header__menu ul {
  gap: 50px;
  align-items: start;
}
.header .header__container .header__menu ul button, .header .header__container .header__menu ul a {
  color: white;
}
.header .header__container .header__menu ul .header__skills button {
  background-color: unset;
}
.header .header__container .header__menu ul .header__skillsdropmenu {
  position: absolute;
  max-height: 0;
  overflow: hidden;
}
.header .header__container .header__menu ul .header__skillsdropmenu .header__skillsdecor {
  margin-bottom: 8px;
  text-align: center;
}
.header .header__container .header__menu ul .header__skillsdropmenu .ul {
  display: flex;
  flex-direction: column;
}
.header .header__container .header__menu ul .show {
  padding-top: 8px;
  max-height: 50px;
  overflow: visible;
}

.main .hero .hero__container .hero__content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  gap: 50px;
}
.main .hero .hero__container .hero__vadym {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .hero .hero__container .hero__vadym .hero__decorone {
  position: absolute;
  padding: 100px;
  background-color: aquamarine;
  border-radius: 10px;
  top: 0;
  left: 20%;
}
@media (max-width: 650px) {
  .main .hero .hero__container .hero__vadym .hero__decorone {
    left: 5%;
  }
}
@media (max-width: 450px) {
  .main .hero .hero__container .hero__vadym .hero__decorone {
    left: -10%;
    padding: 80px;
  }
}
.main .hero .hero__container .hero__vadym .hero__decortwo {
  position: absolute;
  padding: 100px;
  background-color: #be15be;
  border-radius: 50%;
  right: 20%;
  bottom: 0;
}
@media (max-width: 650px) {
  .main .hero .hero__container .hero__vadym .hero__decortwo {
    right: 5%;
  }
}
@media (max-width: 450px) {
  .main .hero .hero__container .hero__vadym .hero__decortwo {
    right: -10%;
    padding: 80px;
  }
}
.main .hero .hero__container .hero__vadym img {
  position: relative;
  z-index: 1;
  width: 300px;
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
}
.main .skills .skills__container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
.main .skills .skills__container .skills__decor {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 150px;
}
.main .skills .skills__container .skills__content {
  color: rgb(25, 25, 25);
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
}
.main .skills .skills__container .skills__content .skills__title {
  text-align: center;
  margin-bottom: 50px;
}
.main .skills .skills__container .skills__content .skills__lists {
  margin-bottom: 50px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.main .skills .skills__container .skills__content .skills__lists .skills__item {
  background-color: #be15be;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 10px;
  padding: 20px 30px;
}
.main .skills .skills__container .skills__content .skills__lists .skills__item .skills__image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main .skills .skills__container .skills__content .skills__lists .skills__item .skills__image img {
  width: 100px;
  height: 100px;
}
.main .skills .skills__container .skills__content .skills__cv {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main .projects .projects__container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
.main .projects .projects__container .projects__decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 300px;
  background-color: #be15be;
  z-index: 0;
  border-radius: 10px;
}
.main .projects .projects__container .projects__content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
}
.main .projects .projects__container .projects__content .projects__title {
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 900px) {
  .header__menu {
    display: none;
  }
  .header__burger {
    display: block !important;
  }
}

/*# sourceMappingURL=style.css.map */
