*{
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active {
  outline: none;
}
a:focus, a:active {
  outline: none;
}
nav, footer, header, aside {
  display: block;
}
html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: rgb(25, 25, 25);
  font-family: monospace;
}
input, button, textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration: none;
  color: rgb(211, 211, 211);
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
img {
  vertical-align: top;
}
html {
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
/* --------------------------------------- */
[class$=__container] {
  max-width: 1630px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.flex--row {
  display: flex;
  flex-direction: row;
}
.flex--column {
  display: flex;
  flex-direction: column;
}
.just--between {
    justify-content: space-between;
}
.margin--section {
  margin-bottom: 100px;
}
/* --------------------------------------- */
.wrapper {
    color: white;
}
.header {
    padding: 50px 0px;
    .header__container {
        .header__logo {

        }
        .header__menu ul {
            gap: 50px;
        }
    }
}
.main {
    .hero {
        .hero__container {
            .hero__content {
                max-width: 900px;
                margin: 0 auto;
                text-align: center;
                gap: 50px;
            }
        }
    }
    .skills {
        .skills__container {
            position: relative;
            padding-top: 50px;
            padding-bottom: 50px;
            .skills__decor {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 0;
                background-color: aquamarine;
                border-radius: 10px;
                padding: 150px;
            }
            .skills__content {
                color: rgb(25, 25, 25);
                position: relative;
                z-index: 1;
                max-width: 1200px;
                margin: 0 auto;
                .skills__title {
                    text-align: center;
                    margin-bottom: 50px;
                }
                .skills__lists {
                    gap: 30px;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                    .skills__item {
                        // background-color: #FADADD;
                        // background-color: #FFB6C1;
                        // background-color: #8E4585;
                        background-color: #be15be;
                        // background-color: #FA8072;
                        // background-color: #FF7F50;
                        // background-color: #B0B0B0;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        color: white;
                        position: relative;
                        z-index: 1;
                        width: 100%;
                        border-radius: 10px;
                        padding: 20px 30px;
                        .skills__image {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            img {
                                width: 100px;
                                height: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.footer {
    .footer__container {

    }
}